body {
    background-image: url("/imgs/cafe-daan-evers.jpg");
    background-color: #F1DEC9;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left {
    background-color: transparent;
    flex: 1;
    height: 100vh;
}

.right {
    background-color: rgba(0, 0, 0, 0.8);
    flex: 1;
}